# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# Editor specific ignores
.idea/

# packer variables containing password
src/variables.json

# Ansible specific
.vault_password